# Panda_base
## 按索引重排
使用`Series.reindex()`方法，可以按索引顺序重新排列一个Series,当某个索引不存在时，值为`NaN`

In [1]:
import pandas as pd
import numpy as np

### 对Series重排

In [2]:
data = pd.Series([1,2,3,4],index=['a','b','c','d'])
print('source:\n',data)
print('after reindex:\n',data.reindex(['d','c','b','a']))
print('after reindex:\n',data.reindex(['d','c','b','a','e']))

source:
 a    1
b    2
c    3
d    4
dtype: int64
after reindex:
 d    4
c    3
b    2
a    1
dtype: int64
after reindex:
 d    4.0
c    3.0
b    2.0
a    1.0
e    NaN
dtype: float64

### 对DataFrame重排
使用`DataFrame.reindex()`方法，传入参数`index`可以重排行，传入参数`column`可以重排列，同样，若是包含不存在的索引会创建值为NaN的列或行

In [3]:
frame = pd.DataFrame(np.arange(9).reshape((3,3)),index=['a','b','c'],columns=[1,2,3])
print(frame)
print('reindex the row:\n',frame.reindex(index=['c','b','a']))
print('reindex the column:\n',frame.reindex(columns=[3,2,1,0]))

   1  2  3
a  0  1  2
b  3  4  5
c  6  7  8
reindex the row:
    1  2  3
c  6  7  8
b  3  4  5
a  0  1  2
reindex the column:
    3  2  1   0
a  2  1  0 NaN
b  5  4  3 NaN
c  8  7  6 NaN

# 随机重新排序
使用`.take()`传入索引顺序的numpy数组即可按传入数组对数据重排

In [5]:
a = pd.DataFrame(np.random.randn(4,4))
a

          0         1         2         3
0 -0.646864  1.316892 -1.529555  0.238312
1  0.734526  0.599169 -1.547083  0.056172
2  0.103494  0.049427  2.534360  0.400196
3  0.123966  0.623375 -0.324756  1.131843

In [6]:
tag = np.random.permutation(4)
tag

array([3, 0, 1, 2])

In [17]:
a.take(tag)

          0         1         2         3
3  0.123966  0.623375 -0.324756  1.131843
0 -0.646864  1.316892 -1.529555  0.238312
1  0.734526  0.599169 -1.547083  0.056172
2  0.103494  0.049427  2.534360  0.400196

In [18]:
tag = np.random.randint(0,4,size=10)
tag

array([1, 1, 0, 1, 3, 2, 0, 2, 1, 1])

In [19]:
a.take(tag)

          0         1         2         3
1  0.734526  0.599169 -1.547083  0.056172
1  0.734526  0.599169 -1.547083  0.056172
0 -0.646864  1.316892 -1.529555  0.238312
1  0.734526  0.599169 -1.547083  0.056172
3  0.123966  0.623375 -0.324756  1.131843
2  0.103494  0.049427  2.534360  0.400196
0 -0.646864  1.316892 -1.529555  0.238312
2  0.103494  0.049427  2.534360  0.400196
1  0.734526  0.599169 -1.547083  0.056172
1  0.734526  0.599169 -1.547083  0.056172

In [20]:
a

          0         1         2         3
0 -0.646864  1.316892 -1.529555  0.238312
1  0.734526  0.599169 -1.547083  0.056172
2  0.103494  0.049427  2.534360  0.400196
3  0.123966  0.623375 -0.324756  1.131843