In [1]:
import pandas as pd
import numpy as np

# 使用map重命名索引

In [3]:
a = pd.DataFrame(np.random.randn(4,4))
a

          0         1         2         3
0  1.059057 -0.188092 -0.306326 -0.962369
1 -0.947620  1.064491 -0.325149 -0.389963
2 -0.856214 -0.334333 -0.805402 -0.555806
3  0.089009  0.446732 -0.163950  0.528445

In [4]:
a.index = a.index.map(lambda x:x*2)
a

          0         1         2         3
0  1.059057 -0.188092 -0.306326 -0.962369
2 -0.947620  1.064491 -0.325149 -0.389963
4 -0.856214 -0.334333 -0.805402 -0.555806
6  0.089009  0.446732 -0.163950  0.528445

# 使用rename重命名索引
使用`rename(index=,columns=)`可以重命名行列索引

In [7]:
a.rename(index=lambda x:x + 1,columns=lambda x:x - 1)

         -1         0         1         2
1  1.059057 -0.188092 -0.306326 -0.962369
3 -0.947620  1.064491 -0.325149 -0.389963
5 -0.856214 -0.334333 -0.805402 -0.555806
7  0.089009  0.446732 -0.163950  0.528445

传入一个dict可以对部分索引进行修改

In [9]:
a.rename(index={2:10})

           0         1         2         3
0   1.059057 -0.188092 -0.306326 -0.962369
10 -0.947620  1.064491 -0.325149 -0.389963
4  -0.856214 -0.334333 -0.805402 -0.555806
6   0.089009  0.446732 -0.163950  0.528445

传入`inplace=True`可以覆盖原有DataFrame

In [10]:
a.rename(index=lambda x: x + 1,inplace=True)
a

          0         1         2         3
1  1.059057 -0.188092 -0.306326 -0.962369
3 -0.947620  1.064491 -0.325149 -0.389963
5 -0.856214 -0.334333 -0.805402 -0.555806
7  0.089009  0.446732 -0.163950  0.528445