In [1]:
import pandas as pd
import numpy as np

# Serise的map方法
`.map()`可以做元素级修正，用法与Python原生的map相似，传入一个单输入单输出的函数，所有元素按该函数操作

In [2]:
a = pd.DataFrame(np.random.randn(4,4))
a

          0         1         2         3
0  1.896122 -0.363448 -0.837619  0.318831
1 -1.391127 -1.278210 -0.451603 -0.630656
2  0.390797  0.564124 -0.273792  0.177817
3 -0.527218 -1.618269  0.592156  1.467145

In [3]:
a[0].map(lambda x:x + 3)

0    4.896122
1    1.608873
2    3.390797
3    2.472782
Name: 0, dtype: float64

In [4]:
a[4] = a[3].map(lambda x:abs(x))
a

          0         1         2         3         4
0  1.896122 -0.363448 -0.837619  0.318831  0.318831
1 -1.391127 -1.278210 -0.451603 -0.630656  0.630656
2  0.390797  0.564124 -0.273792  0.177817  0.177817
3 -0.527218 -1.618269  0.592156  1.467145  1.467145

# 索引的map方法
索引对象也可以使用`.map()`方法做元素级操作

In [6]:
a

          0         1         2         3         4
0  1.896122 -0.363448 -0.837619  0.318831  0.318831
1 -1.391127 -1.278210 -0.451603 -0.630656  0.630656
2  0.390797  0.564124 -0.273792  0.177817  0.177817
3 -0.527218 -1.618269  0.592156  1.467145  1.467145

In [9]:
a.index = a.index.map(lambda x:x+1)
a

          0         1         2         3         4
1  1.896122 -0.363448 -0.837619  0.318831  0.318831
2 -1.391127 -1.278210 -0.451603 -0.630656  0.630656
3  0.390797  0.564124 -0.273792  0.177817  0.177817
4 -0.527218 -1.618269  0.592156  1.467145  1.467145