In [1]:
import numpy as np
import pandas as pd

# 异常值处理
异常值处理可以使用布尔索引运算解决（与numpy相同），下面的例子中绝对值超过1为异常值

In [22]:
a = pd.DataFrame(np.random.randn(4,4))
a

          0         1         2         3
0  0.834739  0.514817  0.308444  1.448317
1 -0.193261 -0.025066  0.290329  0.213054
2 -0.579436  0.764154  0.324725  0.482367
3 -0.032786 -1.482039 -0.899249 -1.538175

In [23]:
a[np.abs(a) > 1]

    0         1   2         3
0 NaN       NaN NaN  1.448317
1 NaN       NaN NaN       NaN
2 NaN       NaN NaN       NaN
3 NaN -1.482039 NaN -1.538175

In [27]:
a[np.abs(a) > 1] = np.sign(a)
a

          0         1         2         3
0  0.834739  0.514817  0.308444  1.000000
1 -0.193261 -0.025066  0.290329  0.213054
2 -0.579436  0.764154  0.324725  0.482367
3 -0.032786 -1.000000 -0.899249 -1.000000

# 异常值去除

In [29]:
a[1] != -1

0     True
1     True
2     True
3    False
Name: 1, dtype: bool

In [31]:
a[(a[1] != -1)]

          0         1         2         3
0  0.834739  0.514817  0.308444  1.000000
1 -0.193261 -0.025066  0.290329  0.213054
2 -0.579436  0.764154  0.324725  0.482367