In [1]:
import numpy as np
import pandas as pd

# 判断是否有重复行
对一个DataFrame使用`.duplicated()`方法，可以获得一个布尔类型的Series，False表示该行为重复行

In [2]:
a = pd.DataFrame({"a":[1,3,3,3],"b":[1,2,4,4]})
a

   a  b
0  1  1
1  3  2
2  3  4
3  3  4

In [3]:
a.duplicated()

0    False
1    False
2    False
3     True
dtype: bool

# 去除重复行
## 使用布尔索引
使用布尔索引可以去除重复行

In [7]:
a[a.duplicated().map(lambda x:not x)]

   a  b
0  1  1
1  3  2
2  3  4

## 使用drop_duplicates方法

In [8]:
a.drop_duplicates()

   a  b
0  1  1
1  3  2
2  3  4

In [9]:
a.drop_duplicates(['a'])

   a  b
0  1  1
1  3  2