# panda_base:compute
## Series 与 Series运算
Series与Series的运算时是按索引对齐的，只有索引对齐的项才会进行运算

In [1]:
import pandas as pd

In [3]:
a = pd.Series({"a":1,"b":12,"c":3})
b = pd.Series({"b":5,"c":23,"d":7})
print(a)

a     1
b    12
c     3
dtype: int64

In [4]:
a + b

a     NaN
b    17.0
c    26.0
d     NaN
dtype: float64

使用`.add`方法并传入一个`fill_value`的参数可以将NaN替换

In [5]:
a.add(b,fill_value=0)

a     1.0
b    17.0
c    26.0
d     7.0
dtype: float64

## DataFrame 与 DataFrame运算
DataFrame之间运算时，只用所有索引都对应时才进行运算，否则均为`NaN`

In [6]:
a = pd.DataFrame({"a":[1,2,3],"b":[5,6,7],"c":[1,5,8]},index=[1,2,3])
b = pd.DataFrame({"b":[2,3,4],"c":[2,5,8],"d":[11,34,67]})
a

   a  b  c
1  1  5  1
2  2  6  5
3  3  7  8

In [7]:
a + b

    a     b     c   d
0 NaN   NaN   NaN NaN
1 NaN   8.0   6.0 NaN
2 NaN  10.0  13.0 NaN
3 NaN   NaN   NaN NaN

In [8]:
a.add(b,fill_value=0)

     a     b     c     d
0  NaN   2.0   2.0  11.0
1  1.0   8.0   6.0  34.0
2  2.0  10.0  13.0  67.0
3  3.0   7.0   8.0   NaN

## DataFrame 和 Series运算
DataFrame和Series的运算是按广播运算的，Series广播为一列

In [12]:
b = pd.Series([1,2,3,4],index=["a","b","c","d"])
b

a    1
b    2
c    3
d    4
dtype: int64

In [15]:
print(a)
c = a + b
c

   a  b  c
1  1  5  1
2  2  6  5
3  3  7  8

   a  b   c   d
1  2  7   4 NaN
2  3  8   8 NaN
3  4  9  11 NaN

In [16]:
c - a

   a  b  c   d
1  1  2  3 NaN
2  1  2  3 NaN
3  1  2  3 NaN