In [2]:
import pandas as pd
import numpy as np

# apply方法
`.apply()`是一个高阶函数，传入一个具有一个输入的函数，这个函数将逐一对行或列执行
## 对列应用

In [4]:
def get_rand(x):
    return x.max() - x.min()
test = pd.DataFrame(np.random.randn(4,3))
test

          0         1         2
0  0.967220 -0.675080 -0.109438
1  0.802477 -0.972367 -0.074055
2 -0.155089 -1.758598 -1.343640
3 -0.245455  0.239111  0.516611

In [5]:
test.apply(get_rand)

0    1.212675
1    1.997709
2    1.860252
dtype: float64

## 对行应用

In [6]:
test.apply(get_rand,axis=1)

0    1.642300
1    1.774843
2    1.603509
3    0.762066
dtype: float64

# applymap函数
`.applymap()`函数与`apply`类似，均为高阶函数，作用对象为每一个元素，可以理解为`map`函数

In [7]:
def get_int(x):
    return int(x)
test.applymap(get_int)

   0  1  2
0  0  0  0
1  0  0  0
2  0 -1 -1
3  0  0  0