In [1]:
import pandas as pd
import numpy as np

# 使用布尔值访问
可以使用类似于numpy的布尔索引的方式访问

In [2]:
a = pd.DataFrame(np.random.randn(4,4))
a

          0         1         2         3
0 -0.970318  0.555245  1.104997  0.493495
1  0.787624 -0.373516  0.093598 -0.767456
2  1.245248  0.510548  1.586768 -0.218675
3 -0.465969  0.186518 -0.800346 -2.113492

In [3]:
a[a > 0.5]

          0         1         2   3
0       NaN  0.555245  1.104997 NaN
1  0.787624       NaN       NaN NaN
2  1.245248  0.510548  1.586768 NaN
3       NaN       NaN       NaN NaN

# 访问指定值的子集
使用`.isin()`方法可以判断值是否是被指定值的集合中，返回布尔类型的Series或DataFrame，再使用布尔索引可访问指定子集

In [4]:
b = pd.Series(["a","a","b","c"])
b

0    a
1    a
2    b
3    c
dtype: object

In [5]:
b.isin(["a","b"])

0     True
1     True
2     True
3    False
dtype: bool

In [6]:
b[b.isin(["a","b"])]

0    a
1    a
2    b
dtype: object