In [1]:
import pandas as pd
import numpy as np

# 数据连接
使用`pandas.concat()`可以堆叠Series或DataFrame
## Series
将需要堆叠的数据打包为一个list传入`pandas.concat()`函数可以在直接将数据堆在一起

In [2]:
a = pd.Series(np.random.randn(4),index=["a","b","c","d"])
b = pd.Series(np.random.randn(4),index=["d","e","f","h"])

In [4]:
print(a,"\n",b)
pd.concat([a,b])

a   -0.222755
b    0.566936
c    0.672976
d    1.355047
dtype: float64
 d   -0.802497
e    1.019788
f    1.108961
h    0.457355
dtype: float64

a   -0.222755
b    0.566936
c    0.672976
d    1.355047
d   -0.802497
e    1.019788
f    1.108961
h    0.457355
dtype: float64

默认在行上连接，若是要在列上连接传入`axis=1`即可

In [7]:
pd.concat([a,b],axis=1)

          0         1
a -0.222755       NaN
b  0.566936       NaN
c  0.672976       NaN
d  1.355047 -0.802497
e       NaN  1.019788
f       NaN  1.108961
h       NaN  0.457355

In [8]:
pd.concat([a,b],join="inner",axis=1)

          0         1
d  1.355047 -0.802497

传入`keys=[]`参数，可以创建层次化索引（axis=0）或列头（axis=1）

In [9]:
pd.concat([a,b],keys=["a","b"])

a  a   -0.222755
   b    0.566936
   c    0.672976
   d    1.355047
b  d   -0.802497
   e    1.019788
   f    1.108961
   h    0.457355
dtype: float64

In [10]:
pd.concat([a,b],keys=["a","b"],axis=1)

          a         b
a -0.222755       NaN
b  0.566936       NaN
c  0.672976       NaN
d  1.355047 -0.802497
e       NaN  1.019788
f       NaN  1.108961
h       NaN  0.457355

## DataFrame
DataFrame基本与Series相同

In [11]:
c = pd.DataFrame(np.random.randn(3,3),index=["a","b","c"],columns=[1,2,3])
d = pd.DataFrame(np.random.randn(3,3),index=["b","c","d"],columns=[1,2,4])

In [12]:
pd.concat([c,d])

          1         2         3         4
a  0.782162 -1.485552  0.321030       NaN
b  0.503762  1.731014 -0.002787       NaN
c -0.162101  1.137394  0.966020       NaN
b -0.734796 -1.048151       NaN -0.017740
c  1.026028 -1.383809       NaN  1.031002
d  0.009593  0.274211       NaN -1.329790

In [14]:
pd.concat([c,d],axis=1,join="inner")

          1         2         3         1         2         4
b  0.503762  1.731014 -0.002787 -0.734796 -1.048151 -0.017740
c -0.162101  1.137394  0.966020  1.026028 -1.383809  1.031002

In [15]:
pd.concat([c,d],keys=["c","d"])

            1         2         3         4
c a  0.782162 -1.485552  0.321030       NaN
  b  0.503762  1.731014 -0.002787       NaN
  c -0.162101  1.137394  0.966020       NaN
d b -0.734796 -1.048151       NaN -0.017740
  c  1.026028 -1.383809       NaN  1.031002
  d  0.009593  0.274211       NaN -1.329790

In [17]:
pd.concat({"c":c,"d":d},axis=1)

          c                             d
          1         2         3         1         2         4
a  0.782162 -1.485552  0.321030       NaN       NaN       NaN
b  0.503762  1.731014 -0.002787 -0.734796 -1.048151 -0.017740
c -0.162101  1.137394  0.966020  1.026028 -1.383809  1.031002
d       NaN       NaN       NaN  0.009593  0.274211 -1.329790