In [1]:
import pandas as pd
import numpy as np

# 按索引排序
## Series按索引排序
Series使用方法`.sort_index()`可以按索引排序*（索引可能是字符串由此可能是按ASCII码排序）*

In [8]:
a = pd.Series(np.random.randn(4),index=["a","c","b","d"])
a

a   -0.112491
c   -0.633680
b    1.248136
d   -0.192884
dtype: float64

In [9]:
a.sort_index()

a   -0.112491
b    1.248136
c   -0.633680
d   -0.192884
dtype: float64

In [11]:
a.sort_index(ascending=False)

d   -0.192884
c   -0.633680
b    1.248136
a   -0.112491
dtype: float64

## DataFrame按索引排序
DataFrame同样使用`sort_index()`排序，注意，关于索引的操作第0维为索引，第一维为列头

In [12]:
a = pd.DataFrame(np.random.randn(3,3),index=["c","b","a"],columns=["1","4","3"])
a

          1         4         3
c -0.130447 -0.739925  0.939781
b  0.549218 -1.029213 -0.992593
a -0.733956 -0.062125 -0.606273

In [13]:
a.sort_index()

          1         4         3
a -0.733956 -0.062125 -0.606273
b  0.549218 -1.029213 -0.992593
c -0.130447 -0.739925  0.939781

In [15]:
a.sort_index(axis=1,ascending=False)

          4         3         1
c -0.739925  0.939781 -0.130447
b -1.029213 -0.992593  0.549218
a -0.062125 -0.606273 -0.733956

# 按值排序
## Series按值排序
Series按值排序使用`sort_values()`方法

In [16]:
b = pd.Series(np.random.randn(5))
b

0   -0.625199
1    1.938691
2    0.976273
3   -0.229375
4   -1.187431
dtype: float64

In [18]:
b.sort_values()

4   -1.187431
0   -0.625199
3   -0.229375
2    0.976273
1    1.938691
dtype: float64

In [19]:
b.sort_values(ascending=False)

1    1.938691
2    0.976273
3   -0.229375
0   -0.625199
4   -1.187431
dtype: float64

## DataFrame按值排序
DataFrame同样使用`sorf_values()`方法排序。可以通过传入`by=`参数确定按哪一列或行排序，`axis`参数确定是行（1）还是列（0）

In [20]:
b = pd.DataFrame(np.random.randn(4,4))
b

          0         1         2         3
0  0.532740 -1.015929  0.556122 -1.166223
1 -1.194476  0.293356  0.487587  0.365775
2  0.497941  0.291671  1.062781  0.643355
3 -1.432873 -0.298653 -2.682613  0.253751

In [21]:
b.sort_values(by=1)

          0         1         2         3
0  0.532740 -1.015929  0.556122 -1.166223
3 -1.432873 -0.298653 -2.682613  0.253751
2  0.497941  0.291671  1.062781  0.643355
1 -1.194476  0.293356  0.487587  0.365775

In [22]:
b.sort_values(axis=1,by=3)

          2         0         1         3
0  0.556122  0.532740 -1.015929 -1.166223
1  0.487587 -1.194476  0.293356  0.365775
2  1.062781  0.497941  0.291671  0.643355
3 -2.682613 -1.432873 -0.298653  0.253751

# rank排序
## Series 的rank排序
`rank`方法排序可以破坏原有的数据，原有数据位置替换为排名

In [23]:
c = pd.Series(np.random.randn(6))
c

0   -2.160355
1   -0.150643
2    0.569370
3   -0.391629
4   -0.606849
5    0.410348
dtype: float64

In [24]:
c.rank()

0    1.0
1    4.0
2    6.0
3    3.0
4    2.0
5    5.0
dtype: float64

## DataFrame的rank排序
DataFrame的rank方法与Series相似，破坏原有数据，将数据替换为该列（0）或行（1）的排名情况

In [25]:
c = pd.DataFrame(np.random.randn(4,4))
c

          0         1         2         3
0 -1.588196  0.332687  0.398480 -1.662544
1 -0.798102 -0.160454 -0.002678  0.181833
2 -2.099471  1.688565 -2.041112 -0.729512
3  1.679087  0.064718 -2.486510 -0.153229

In [26]:
c.rank()

     0    1    2    3
0  2.0  3.0  4.0  1.0
1  3.0  1.0  3.0  4.0
2  1.0  4.0  2.0  2.0
3  4.0  2.0  1.0  3.0

In [27]:
c.rank(axis=1)

     0    1    2    3
0  2.0  3.0  4.0  1.0
1  1.0  2.0  3.0  4.0
2  1.0  4.0  2.0  3.0
3  4.0  3.0  1.0  2.0