In [1]:
import pandas as pd
import numpy as np

# 自定义聚合运算方法
使用`.agg()`传入自定义方法时，传入的是每个子切片，聚合时将每个传出值聚合

In [2]:
a = pd.DataFrame(np.arange(4*4).reshape((4,4)),columns=["a","b","c","d"])
a["group"] = ["x","x","y","y"]
a

    a   b   c   d group
0   0   1   2   3     x
1   4   5   6   7     x
2   8   9  10  11     y
3  12  13  14  15     y

In [8]:
def test(arr):
    return arr.max() - arr.min()
a.groupby(['group']).agg(test)

       a  b  c  d
group
x      4  4  4  4
y      4  4  4  4

# 同时使用多个方法
`.agg()`可以传入函数列表(同时应用到所有列)或字典（不同的函数或函数列表应用到不同列）

In [9]:
a.groupby(['group']).agg(['mean',test])

         a         b         c         d
      mean test mean test mean test mean test
group
x        2    4    3    4    4    4    5    4
y       10    4   11    4   12    4   13    4

In [11]:
a.groupby(['group']).agg({"a":['mean',test],"b":"min"})

        b    a
      min mean test
group
x       1    2    4
y       9   10    4