In [1]:
import numpy as np
import pandas as pd

# 使用cut结果分组
`groupby()`方法传入一个cut的结果也可以按cut结果分组

In [3]:
a = pd.DataFrame(np.random.randn(4,5))
a

          0         1         2         3         4
0  0.935281  0.172762  1.911656 -1.388746  0.944704
1  0.686379  1.598649  0.375016 -0.467298 -1.152388
2 -0.686621 -0.352461 -0.102108  0.805464 -0.354150
3 -0.246815  1.135003  1.703401  0.056711  0.939295

In [11]:
b = pd.cut(a[0],4)
b

0       (0.53, 0.935]
1       (0.53, 0.935]
2    (-0.688, -0.281]
3     (-0.281, 0.124]
Name: 0, dtype: category
Categories (4, interval[float64]): [(-0.688, -0.281] < (-0.281, 0.124] < (0.124, 0.53] < (0.53, 0.935]]

In [14]:
for name,i in a.groupby(b):
    print(name)
    print(i)

(-0.688, -0.281]
          0         1         2         3        4
2 -0.686621 -0.352461 -0.102108  0.805464 -0.35415
(-0.281, 0.124]
          0         1         2         3         4
3 -0.246815  1.135003  1.703401  0.056711  0.939295
(0.124, 0.53]
Empty DataFrame
Columns: [0, 1, 2, 3, 4]
Index: []
(0.53, 0.935]
          0         1         2         3         4
0  0.935281  0.172762  1.911656 -1.388746  0.944704
1  0.686379  1.598649  0.375016 -0.467298 -1.152388