In [1]:
import pandas as pd
import numpy as np

# Series 的 combine_first方法
`combine_first`方法用于替换NaN值，当使用`a.combine_first(b)`的时候，判断a的每一个元素是否为NaN，若不是则不改变，若是使用相同索引的b中的值补齐

In [2]:
a = pd.Series(range(5))
a[3] = np.nan
a

0    0.0
1    1.0
2    2.0
3    NaN
4    4.0
dtype: float64

In [4]:
b = pd.Series(np.random.randn(5))
b

0    0.068100
1    0.494592
2    0.217099
3   -0.213102
4   -0.134067
dtype: float64

In [5]:
a.combine_first(b)

0    0.000000
1    1.000000
2    2.000000
3   -0.213102
4    4.000000
dtype: float64

# DataFrame的combine_first方法
DataFrame的combine_first方法与Series类似，在索引相同的情况下补齐NaN值

In [6]:
c = pd.DataFrame(np.random.randn(3,3))
d = pd.DataFrame(np.random.randn(3,3))
c[1][1] = np.NaN
c

          0         1         2
0 -1.643068  0.141249  0.265283
1  1.272322       NaN  0.087521
2 -0.390715  0.679353  0.435420

In [7]:
d

          0         1         2
0  0.313720 -0.310227  1.190592
1  1.584457  0.757001  0.513789
2 -0.284828  0.194047  0.002554

In [8]:
c.combine_first(d)

          0         1         2
0 -1.643068  0.141249  0.265283
1  1.272322  0.757001  0.087521
2 -0.390715  0.679353  0.435420