In [1]:
import pandas as pd
import numpy as np

# replace方法
使用`.replace(a,b)`可以将Series/DataFrame中的a换成b。
- a是列表，b是单变量：a中的所有表示都换成b
- a是列表，b是列表：a和b中的表示按位置对应替换
除了以上的传参方法，也可以使用传入`{a:b}`的字典

In [9]:
a = pd.DataFrame(np.stack([np.zeros(4),np.ones(4)]))
a

     0    1    2    3
0  0.0  0.0  0.0  0.0
1  1.0  1.0  1.0  1.0

In [10]:
a.replace(1,5)

     0    1    2    3
0  0.0  0.0  0.0  0.0
1  5.0  5.0  5.0  5.0

In [11]:
a.replace([0,1],np.nan)

    0   1   2   3
0 NaN NaN NaN NaN
1 NaN NaN NaN NaN

In [12]:
a.replace({1:5})

     0    1    2    3
0  0.0  0.0  0.0  0.0
1  5.0  5.0  5.0  5.0