In [1]:
import numpy as np
import pandas as pd

# 构建指标矩阵
使用`pandas.get_dummies()`可以构建一个指标矩阵，即某一个Series中含有k个种类的值，指标矩阵具有k列用独热码的方式指示种类

In [2]:
a = pd.Series(["a","b","c","a","c"])
a

0    a
1    b
2    c
3    a
4    c
dtype: object

In [3]:
pd.get_dummies(a)

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0
4  0  0  1

In [4]:
pd.get_dummies(a,prefix="key")

   key_a  key_b  key_c
0      1      0      0
1      0      1      0
2      0      0      1
3      1      0      0
4      0      0      1

In [7]:
b = pd.DataFrame(a)
b

   0
0  a
1  b
2  c
3  a
4  c

In [8]:
b.join(pd.get_dummies(a))

   0  a  b  c
0  a  1  0  0
1  b  0  1  0
2  c  0  0  1
3  a  1  0  0
4  c  0  0  1