In [1]:
import pandas as pd
import numpy as np

# stack
`.stack()`方法可以将DataFrame的行或者列旋转到列或者行上成为层次化索引

In [7]:
a = pd.DataFrame(np.random.randn(4,4))
a[2][2] = np.nan
a

          0         1         2         3
0 -1.001941  1.076806 -1.448259  0.832331
1  0.988913  1.165181 -2.017086  0.531139
2  0.181621  0.085461       NaN  0.773129
3 -0.794653  0.189747  0.956248 -0.154617

In [10]:
c = a.stack()
c

0  0   -1.001941
   1    1.076806
   2   -1.448259
   3    0.832331
1  0    0.988913
   1    1.165181
   2   -2.017086
   3    0.531139
2  0    0.181621
   1    0.085461
   3    0.773129
3  0   -0.794653
   1    0.189747
   2    0.956248
   3   -0.154617
dtype: float64

传入`dropna=False`可以保留NaN值

In [11]:
b = a.stack(dropna=False)
b

0  0   -1.001941
   1    1.076806
   2   -1.448259
   3    0.832331
1  0    0.988913
   1    1.165181
   2   -2.017086
   3    0.531139
2  0    0.181621
   1    0.085461
   2         NaN
   3    0.773129
3  0   -0.794653
   1    0.189747
   2    0.956248
   3   -0.154617
dtype: float64

# unstack
`unstack`方法可以将一个具有层次化索引的Series的最内层索引旋转为行得到一个DataFrame

In [12]:
b.unstack()

          0         1         2         3
0 -1.001941  1.076806 -1.448259  0.832331
1  0.988913  1.165181 -2.017086  0.531139
2  0.181621  0.085461       NaN  0.773129
3 -0.794653  0.189747  0.956248 -0.154617

In [13]:
c.unstack()

          0         1         2         3
0 -1.001941  1.076806 -1.448259  0.832331
1  0.988913  1.165181 -2.017086  0.531139
2  0.181621  0.085461       NaN  0.773129
3 -0.794653  0.189747  0.956248 -0.154617