In [1]:
import pandas as pd
import numpy as np

# Serise的map方法
`.map()`可以做元素级修正，用法与Python原生的map相似，传入一个单输入单输出的函数，所有元素按该函数操作

In [2]:
a = pd.DataFrame(np.random.randn(4,4))
a

          0         1         2         3
0 -1.282889  0.513082 -0.640113 -0.498209
1 -1.103779 -1.199390 -1.069739  2.612889
2  2.016337 -0.229147 -2.063342 -0.597329
3  0.940810  0.493740  0.125900  0.892963

In [4]:
a[0].map(lambda x:x + 3)

0    1.717111
1    1.896221
2    5.016337
3    3.940810
Name: 0, dtype: float64

In [6]:
a[4] = a[3].map(lambda x:abs(x))
a

          0         1         2         3         4
0 -1.282889  0.513082 -0.640113 -0.498209  0.498209
1 -1.103779 -1.199390 -1.069739  2.612889  2.612889
2  2.016337 -0.229147 -2.063342 -0.597329  0.597329
3  0.940810  0.493740  0.125900  0.892963  0.892963