In [1]:
import pandas as pd
import json

# 读取数据——JSON

In [2]:
with open("./dataset/foods-2011-10-03.json","r") as f:
    dataset_json = json.load(f)
print(type(dataset_json))

<class 'list'>

In [3]:
for key in dataset_json[0]:
    print(key)

nutrients
id
tags
description
portions
manufacturer
group

In [4]:
print(dataset_json[0]['id'])

1008

# 查看类型分布

In [5]:
info = pd.DataFrame(dataset_json,columns=['group','id'])

In [6]:
pd.value_counts(info.group)

Vegetables and Vegetable Products    812
Beef Products                        618
Baked Products                       496
Breakfast Cereals                    403
Fast Foods                           365
Legumes and Legume Products          365
Lamb, Veal, and Game Products        345
Sweets                               341
Fruits and Fruit Juices              328
Pork Products                        328
Beverages                            278
Soups, Sauces, and Gravies           275
Finfish and Shellfish Products       255
Baby Foods                           209
Cereal Grains and Pasta              183
Ethnic Foods                         165
Snacks                               162
Nut and Seed Products                128
Poultry Products                     116
Sausages and Luncheon Meats          111
Dairy and Egg Products               107
Fats and Oils                         97
Meals, Entrees, and Sidedishes        57
Restaurant Foods                      51
Spices and Herbs                      41
Name: group, dtype: int64

# 统计营养成分
## 单个食品的营养成分

In [7]:
print(dataset_json[0].keys())

dict_keys(['nutrients', 'id', 'tags', 'description', 'portions', 'manufacturer', 'group'])

In [8]:
test = pd.DataFrame(dataset_json[0]["nutrients"])
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 4 columns):
description    162 non-null object
group          162 non-null object
units          162 non-null object
value          162 non-null float64
dtypes: float64(1), object(3)
memory usage: 5.1+ KB

In [9]:
test['id'] = dataset_json[0]['id']
test[:5]

                   description        group units   value    id
0                      Protein  Composition     g   25.18  1008
1            Total lipid (fat)  Composition     g   29.20  1008
2  Carbohydrate, by difference  Composition     g    3.06  1008
3                          Ash        Other     g    3.28  1008
4                       Energy       Energy  kcal  376.00  1008

## 统计整体营养成分

In [10]:
data = []
for i in dataset_json:
    x = pd.DataFrame(i['nutrients'])
    x['id'] = i['id']
    data.append(x)
nu_data = pd.concat(data)

In [11]:
nu_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 389355 entries, 0 to 49
Data columns (total 5 columns):
description    389355 non-null object
group          389355 non-null object
units          389355 non-null object
value          389355 non-null float64
id             389355 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 17.8+ MB

In [12]:
nu_data.drop_duplicates(inplace=True)
nu_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 375176 entries, 0 to 49
Data columns (total 5 columns):
description    375176 non-null object
group          375176 non-null object
units          375176 non-null object
value          375176 non-null float64
id             375176 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 17.2+ MB

In [13]:
nu_data[-5:]

                           description     group units  value     id
45                 Vitamin B-12, added  Vitamins   mcg  0.000  43546
46                         Cholesterol     Other    mg  0.000  43546
47        Fatty acids, total saturated     Other     g  0.072  43546
48  Fatty acids, total monounsaturated     Other     g  0.028  43546
49  Fatty acids, total polyunsaturated     Other     g  0.041  43546

# 其他类别汇总

In [15]:
other_data = pd.DataFrame(dataset_json,columns=["description","id","group","manufacturer"])
other_data[:5]

,description,id,group,manufacturer
0,"Cheese, caraway",1008,Dairy and Egg Products,
1,"Cheese, cheddar",1009,Dairy and Egg Products,
2,"Cheese, edam",1018,Dairy and Egg Products,
3,"Cheese, feta",1019,Dairy and Egg Products,
4,"Cheese, mozzarella, part skim milk",1028,Dairy and Egg Products,

# 营养表——其他类别表汇总

In [23]:
nu = nu_data.rename(columns={"group":"nu_group","description":"nu_description"})
nu[:5]

                nu_description     nu_group units   value    id
0                      Protein  Composition     g   25.18  1008
1            Total lipid (fat)  Composition     g   29.20  1008
2  Carbohydrate, by difference  Composition     g    3.06  1008
3                          Ash        Other     g    3.28  1008
4                       Energy       Energy  kcal  376.00  1008

In [24]:
nu = pd.merge(nu,other_data,on="id",how='outer')
nu = nu.drop_duplicates()
nu.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 375176 entries, 0 to 375175
Data columns (total 8 columns):
nu_description    375176 non-null object
nu_group          375176 non-null object
units             375176 non-null object
value             375176 non-null float64
id                375176 non-null int64
description       375176 non-null object
group             375176 non-null object
manufacturer      293054 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 25.8+ MB

In [25]:
nu[:5]

,nu_description,nu_group,units,value,id,description,group,manufacturer
0,Protein,Composition,g,25.18,1008,"Cheese, caraway",Dairy and Egg Products,
1,Total lipid (fat),Composition,g,29.20,1008,"Cheese, caraway",Dairy and Egg Products,
2,"Carbohydrate, by difference",Composition,g,3.06,1008,"Cheese, caraway",Dairy and Egg Products,
3,Ash,Other,g,3.28,1008,"Cheese, caraway",Dairy and Egg Products,
4,Energy,Energy,kcal,376.00,1008,"Cheese, caraway",Dairy and Egg Products,