In [1]:
import pandas as pd
import numpy as np

# 基本用法
使用`.groupby()`可以得到一个GroupBy对象，该对象可以用于进行分离-计算-合并

In [20]:
a = pd.DataFrame(np.arange(4*4).reshape((4,4)),columns=["a","b","c","d"])
a["group"] = ["x","x","y","y"]
a

    a   b   c   d group
0   0   1   2   3     x
1   4   5   6   7     x
2   8   9  10  11     y
3  12  13  14  15     y

In [21]:
b = a.groupby(['group'])

In [22]:
b.mean()

        a   b   c   d
group
x       2   3   4   5
y      10  11  12  13

以上的例子就是使用groupby方法获得按"group"这一列切开的对象，之后使用`.mean()`分别求解平均值后再聚合在一起

# 使用size()获取分组数量
使用GroupBy对象的`.size()`方法可以获得每个组的行数量

In [23]:
a.groupby("group").size()

group
x    2
y    2
dtype: int64

# 迭代分组
GroupBy是一个可迭代对象，使用迭代的方法可以获得(分组名称，数据)，其中数据为原始数据的分组

In [24]:
for name,data in b:
    print(name,type(name))
    print(data,type(data))

x <class 'str'>
   a  b  c  d group
0  0  1  2  3     x
1  4  5  6  7     x <class 'pandas.core.frame.DataFrame'>
y <class 'str'>
    a   b   c   d group
2   8   9  10  11     y
3  12  13  14  15     y <class 'pandas.core.frame.DataFrame'>

# 在其他轴上分组

In [25]:
a.loc["4"] = ["c","c","d","d","y"]
a

    a   b   c   d group
0   0   1   2   3     x
1   4   5   6   7     x
2   8   9  10  11     y
3  12  13  14  15     y
4   c   c   d   d     y

In [29]:
for i in a.groupby(a.loc["4"],axis=1):
    print(i)

('c',     a   b
0   0   1
1   4   5
2   8   9
3  12  13
4   c   c)
('d',     c   d
0   2   3
1   6   7
2  10  11
3  14  15
4   d   d)
('y',   group
0     x
1     x
2     y
3     y
4     y)