In [1]:
import numpy as np
import pandas as pd

# 求和
## Series
使用`sum()`可以计算一个Series的和，`NaN`会被自动忽略，传入`skipna=False`可以不忽略NaN

In [20]:
a = pd.Series(np.random.randn(8),index=range(8))
a[7] = np.nan
a

0    0.692599
1    1.896893
2   -0.222316
3   -0.491765
4   -0.237968
5   -0.836530
6   -0.203777
7         NaN
dtype: float64

In [21]:
a.sum()

0.59713420383087001

In [19]:
sum(a)

nan

In [22]:
a.sum(skipna=False)

nan

## DataFrame
DataFrame中使用`.sum()`方法可以计算每一列的和，传入`axis=1`可计算每一行的和，DataFrame中`sum()`和该方法结果不同

In [28]:
a = pd.DataFrame(np.random.randn(4,4),index=["a","b","c","d"])
a

          0         1         2         3
a  0.914180  1.186255 -0.330293 -1.813508
b  1.540561 -0.301923 -0.442693  0.625353
c -0.867099  0.439209  1.478888 -0.507734
d  0.338728  0.676020 -1.754735  0.456303

In [29]:
a.sum()

0    1.926371
1    1.999561
2   -1.048832
3   -1.239586
dtype: float64

In [30]:
sum(a)

6

In [31]:
a.sum(axis=1)

a   -0.043366
b    1.421298
c    0.543264
d   -0.283683
dtype: float64

## 其他函数
pandas提供很多类似统计函数，详情查看文档

# describe
describe是综合统计函数，一次性产生很多汇总统计

In [32]:
a.describe()

              0         1         2         3
count  4.000000  4.000000  4.000000  4.000000
mean   0.481593  0.499890 -0.262208 -0.309896
std    1.024357  0.618790  1.328691  1.119783
min   -0.867099 -0.301923 -1.754735 -1.813508
25%    0.037272  0.253926 -0.770703 -0.834178
50%    0.626454  0.557615 -0.386493 -0.025715
75%    1.070775  0.803579  0.122002  0.498566
max    1.540561  1.186255  1.478888  0.625353

对于文字类型的对象产生不同的统计值

In [37]:
a[3]["a"] = "hello"
a

          0         1         2         3
a  0.914180  1.186255 -0.330293     hello
b  1.540561 -0.301923 -0.442693  0.625353
c -0.867099  0.439209  1.478888 -0.507734
d  0.338728  0.676020 -1.754735  0.456303

In [39]:
a[3].describe()

count         4
unique        4
top       hello
freq          1
Name: 3, dtype: object