# panda_learn:drop
使用`drop()`方法可以丢弃指定索引的值
## Series
对于Series，`Series,drop(a)`可以丢弃索引为a（可以使列表）上的值

In [1]:
import pandas as pd

In [3]:
a = pd.Series(range(10))
print(a)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [4]:
a.drop(8)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
9    9
dtype: int32

In [5]:
a.drop([4,6])

0    0
1    1
2    2
3    3
5    5
7    7
8    8
9    9
dtype: int32

可以发现，Series本身不改变，仅返回处理后的值
## DataFrame
使用该方法可以丢弃指定行或列索引的值
### 丢弃行索引

In [7]:
a = pd.DataFrame({'name':["a","b","c"],"value":[2,5,7]})
print(a)

  name  value
0    a      2
1    b      5
2    c      7

In [8]:
a.drop(0)

  name  value
1    b      5
2    c      7

In [10]:
a.drop([1,2])

  name  value
0    a      2

### 丢弃列索引

In [14]:
a.drop("name",axis=1)

   value
0      2
1      5
2      7