In [1]:
import pandas as pd
import numpy as np

# 判断是否有重复索引
使用查看属性`.index.is_unique`可以用于判断是否有重复的索引项

In [2]:
a = pd.Series([1,2,3],index=["a","a","b"])
b = pd.Series([1,2,3])
a

a    1
a    2
b    3
dtype: int64

In [3]:
a.index.is_unique

False

In [4]:
b.index.is_unique

True

In [5]:
c = pd.DataFrame(np.random.randn(3,3),index=["a","a","b"])
d = pd.DataFrame(np.random.randn(3,3))
c

          0         1         2
a  0.542515  0.504201  0.348684
a -0.106148  0.171836 -0.685609
b -0.313524  0.609969 -0.780425

In [6]:
c.index.is_unique

False

In [7]:
c.columns.is_unique

True

In [8]:
d.index.is_unique

True

In [9]:
d.columns.is_unique

True

# 对重复索引项访问
对重复索引项访问时，返回一个Series或一个DataFrame，而不是一个数

In [10]:
print(a["a"],type(a["a"]))

a    1
a    2
dtype: int64 <class 'pandas.core.series.Series'>

In [11]:
print(a["b"],type(a["b"]))

3 <class 'numpy.int64'>

In [12]:
print(c[1],type(c[1]))

a    0.504201
a    0.171836
b    0.609969
Name: 1, dtype: float64 <class 'pandas.core.series.Series'>

In [13]:
print(c.loc["a"],type(c.loc["a"]))

          0         1         2
a  0.542515  0.504201  0.348684
a -0.106148  0.171836 -0.685609 <class 'pandas.core.frame.DataFrame'>

# 抽取非重复项
使用`Series.unique()`方法可以抽取Series值中唯一的值

In [15]:
d = pd.Series(["a","a","b","c"])
d.unique()

array(['a', 'b', 'c'], dtype=object)